<ul class="social-media-list">
    <li class="social-media-list__item">{{ render '@link-social--twitter' }}</li>
    <li class="social-media-list__item">{{ render '@link-social--google-plus' }}</li>
    <li class="social-media-list__item">{{ render '@link-social--facebook' }}</li>
</ul>