<div class="backgrounds overlay">
    <div class="bacgkround">
    </div>
</div>
{{ render '@header' }}


<section>
    {{ render '@pageheader-slider' }}
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ render '@primary-boxes' }}
            </div>
        </div>
    </div>
</section>


{{ render '@footer' }}
