/*
 * Helpers: Grid
 */

:root{
    --grid-container-site-width: var(--site-width);
    --grid-container-site-padding: var(--site-padding);
}

.grid-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--grid-container-site-padding);
    padding-right: var(--grid-container-site-padding);

    & + .grid-container {
        margin-top: var(--grid-container-site-padding);
    }

    &--full-width {
        padding-left: 0;
        padding-right: 0;
    }

    &--site-width { max-width: var(--grid-container-site-width); }
}
