<nav class="site-navigation" role="navigation" vocab="http://schema.org/" typeof="SiteNavigationElement">
    <ul class="site-navigation__list">
        {{#each list}}
        <li class="site-navigation__item">
            {{ render '@link' this }}
        </li>
        {{/each}}
    </ul>
</nav>