/**
 * Fonts
 */

/* @font-face {
    font-family: 'Averta';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:
        url('/dist/fonts/3212B2_3_0.woff2') format('woff2'),
        url('/dist/fonts/3212B2_3_0.woff') format('woff');
} */
