<article class="text-box {{ modifier }}">
	<div class="text-box__inner">
		<div class="text-box__content">
			{{ render '@heading--column' heading }}
			{{#block "textBoxContent"}}
				<p>{{ textBoxContent }}</p>
			{{/block}}
		</div>
		{{#if link }}
			{{ render '@link' }}
		{{/if}}
	</div>
</article>