<article class="text-box{{ class }}">
	<div class="text-box__inner">
		<div class="text-box__content">
			{{> @heading--column }}
			{{#block "text-box-content"}}
				<p>{{ text-box.content }}</p>
			{{/block}}
		</div>
    {{#if link }}
      {{> @link }}
    {{/if}}
	</div>
</article>
