<div class="form-field {{ class }}">
    {{#block "content"}}
        {{> @input--checkbox class="form-field__input form-field__input--checkbox"}}
    {{/block}}
    {{> @label class="form-field__label" }}
    {{> @paragraph--small class="form-field____small" }}
</div>
