# ignore folders
node_modules
build
.cache
dist

# ignore files
*.log
.idea
.vscode
web.config
npm-debug.log.*
*.orig

# ignore anything related to favicons
/*.png
/favicon.ico
/*manifest*
/*yandex*
/*browserconfig.xml
/index.html

