.form-group {
    margin-bottom: 15px;
    max-width: 100%;

    input[type=text] {
        width: 100%;
        outline: none;
        height: 44px;
        padding: 10px;
    }
    label {
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
    }

    small {
        display: block;
        color:grey;
        font-size: 13px;
        margin-top: 5px;
    }
    
}