<div class="molecule-example">
    <h2 class="molecule-example__heading">{{ heading }}</h2>
    <div class="molecule-example__solid-pattern">
        <p class="molecule-example__text">{{ text }}</p>        
    </div>
    <div class="molecule-example__dry-pattern">
        {{> '@atom-example' atomExample }}
    </div>
</div>
