<div class="topbar-related" id="js-topbar-related">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h5 class="topbar-related__title">Related content/header: </h5>
                {{ render '@nav-main-list' navList }}
            </div>
        </div>
    </div>
</div>