<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            {{ render '@text-box--centered' textbox1 }}            
        </div>
        <div class="col-xs-12 col-sm-6">
            {{ render '@text-box--centered' textbox2 }}            
        </div>
    </div>
    <div class="row center-sm">
        <div class="col-xs-12 col-sm-6">
            {{ render '@text-box--centered' textbox3 }}            
        </div>
    </div>
</div>

