<article class="box">
	<div class="box__inner">
    {{#if image }}
      <div class="box__image">
      {{> @image }}
      </div>
    {{/if}}
		<div class="box__content">
			{{> @heading--column }}
			{{#block "content"}}
				<p>{{ box.content }}</p>
			{{/block}}
      {{#if link }}
        {{> @link }}
      {{/if}}
		</div>
	</div>
</article>
