<div class="datepicker">
  <input type="date" class="js-datepicker input datepicker__input" name="{{ name }}" id="{{ id }}">
  <label for="{{ id }}" class="button button--primary button--ghost">
    {{ label }}
  </label>
</div>
