<div class="pageheader-image" style="background-image: url({{ path '/dist/images/placeholder-images/hero--mona-eendra-313518.jpg' }} )">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="pageheader-image__inner">
                    {{ render '@pageheader-content' content }}
                </div>
            </div>
        </div>
    </div>
</div>
