.overlap-item {
    &--above {
        z-index: 1;
    }
    &--below {
        z-index: -1;
    }
    &--top {
        margin-top: -10em;
    }
    &--right {
        margin-right: -10em;
    }
    &--bottom {
        margin-bottom: -10em;
    }
    &--left {
        margin-left: -10em;
    }
}
