<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {{> @text-box textbox1 modifier="overlap-item overlap-item--above overlap-item-xs--bottom overlap-item-sm--right overlap-item-md--right" }}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ render "@image" image1 }}
            </div>
        </div>
    </div>
</section>

