<div class="form-field {{ class }}">
    {{> @label class="form-field__label" required=required}}
    {{#block "content"}}
        {{> @input--text class="form-field__input" }}
    {{/block}}
    {{#if paragraph }}
    {{> @paragraph--small class="form-field__small" }}
    {{/if}}
</div>
