/**
 * Component: Search overlay
 */

.search-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.3s var(--easeInOutQuart);
    pointer-events: none;
    z-index: 4;
}

body.search-overlay-open {
    .search-overlay {
        opacity: 1;
        pointer-events: all;
    }
}

.search-overlay-close-button {
    width: 80px;
    height: 80px;
    margin-left: auto;
    border-left: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        .search-overlay-close-icon {
            transform: scale(1.2) rotate(90deg);
        }
    }
}

.search-overlay-close-icon {
    fill: var(--color-gray-dark);
    width: 20px;
    height: 20px;
    transition: transform 0.3s var(--easeInOutQuart);
    will-change: transform;
}

.search-overlay-input-container {
    display: flex;
    align-items: center;
    margin-top: 70px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--color-gray-dark);

    &__input {
        width: 100%;
        font-size: 18px;
        height: 23px;
        line-height: 23px;
        font-weight: 500;
        font-family: var(--base-font-family);
        border: none;
        outline: none;
        margin-left: 30px;

        &::placeholder {
            color:var(--color-white);
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        fill: var(--color-text);
    }

    &__button {
        text-transform: uppercase;
        width: 160px;
    }
}

.search-results {
    text-align: left;
    margin-top: 60px;
}

.search-results-section {
    margin-bottom: 60px;
    animation: fadeInDown .3s 1 forwards var(--easeInOutQuart);

    &__header {
        color: var(--color-gray-light);
        font-size: 14px;
    }
}

.search-results-list {
    list-style-type: none;
    padding-left: 0;

    &__item {
        margin-bottom: 10px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__link {
        color: var(--color-text);

        &:hover {
            .search-results-list__text {
                text-decoration: underline;
            }
        }
    }

    &__text {
        display: block;
    }

    &__subtext {
        font-size: 14px;
        color: var(--color-gray-light);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.search-logo-container {
    padding-top: 80px;
    .logo__link{
        position: absolute;
        top: 33px;
        height: 100px;
    }
}