/**
 * Base: Typography
 */

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--header-font-family);
    font-weight: 700;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 30px;
    @media (--sm-viewport) {font-size: 36px;}
    @media (--lg-viewport) {font-size: 48px;}
}

h2 {
    font-size: 21px;
    @media (--sm-viewport) {font-size: 24px;}
    @media (--lg-viewport) {font-size: 30px;}
}

h3 {
    font-size: 18px;
    @media (--sm-viewport) {font-size: 21px;}
    @media (--lg-viewport) {font-size: 24px;}
}

p.lead {
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.4;

    @media (--sm-viewport) {font-size: 21px;}
    @media (--lg-viewport) {font-size: 24px;}
}

p,
ul {margin-bottom: 20px;}

p~h2,
p~h3 {margin-top: 36px;}