[class^='col-'] {
    padding-left: var(--half-gutter-width);
    padding-right: var(--half-gutter-width);
}

.row .row {
    max-width: calc(100% + var(--gutter-width));
}

.container {
    padding-left: var(--half-gutter-width);
    padding-right: var(--half-gutter-width);
}
