/**
 * Base: Fonts
 *
 * Only load WOFF2 & WOFF
 * Remember to preload WOFF2 in HTML head, like this:
 * <link rel="preload" href="/dist/fonts/MyFontNameHere.woff2" as="font">
 */


/* Regular */
@font-face {
    font-family: 'MyFontNameHere';
    src: url('/dist/fonts/MyFontNameHere.woff2') format('woff2');
    src: url('/dist/fonts/MyFontNameHere.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'MyFontNameHere';
    src: url('/dist/fonts/MyFontNameHere_Bold.woff2') format('woff2');
    src: url('/dist/fonts/MyFontNameHere_Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}