/*
* Element: Headers
*/

/*Setting document variables*/
:root{
    --heading-color-primary: var(--color-primary);
    --heading-color-secondary: var(--color-secondary);
    --heading-color-black: var(--color-black);
    --hero-text-color: var(--color-white);
    --footer-text-color: var(--color-white);
    --footer-border-color: var(--color-white);
    --footer-border-opacity: 75%;
}

.heading {
    color: var(--heading-color-primary);
    font-size: 22px;
    font-weight: 600;
    font-family: var(--heading-font-family);
    margin-bottom: 0;
    margin-top: 0;

    &__column {
        color: var(--heading-color-black);
    }

    &__hero {
        font-size: 30px;
        line-height: 34px;
        color: var(--hero-text-color);

        @media (--viewport-sm-min) {
            font-size: 48px;
            line-height: 72px;
        }
    }

    &__footer {
        color: var(--footer-text-color);
        line-height: 40px;
        margin-bottom: 20px;
        border-bottom: 1px solid color(var(--footer-border-color) alpha(var(--footer-border-opacity)));
    }
}

