<div class="pageheader-image-alt" style="background-image: url({{ path '/dist/images/placeholder-images/hero--mona-eendra-313518.jpg' }} )">
    <div class="pageheader-image-alt__inner">
        <h1 class="pageheader-image-alt__heading">
            {{ header.text }}
        </h1>
    </div>
</div>