/*
* Element: Input fields
*/

/*Setting document variables*/
:root{
    --input-inverted-text-color: var(--color-white);
    --input-inverted-background-color: var(--color-black);
    --input-inverted-background-color-disabled: var(--color-gray);
    --input-inverted-border-color: var(--color-gray-dark);
    --input-inverted-font-family: var(--base-font-family);
}


.input-inverted {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 1;
    font-family: var(--input-inverted-font-family);
    color: var(--input-inverted-text-color);
    background-color: var(--input-inverted-background-color);
    background-image: none; /* Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214*/
    border: 1px solid var(--input-inverted-border-color);
    border-radius: 10px;

    &:focus {outline: 0;}
}
