/*
* Element: paragraphs
*/

/*Setting document variables*/

.paragraph {
    margin-top: 0;
    margin-bottom: 15px;

    &--hero {
        margin-bottom: 30px;

        @media (--viewport-sm-min) {
            font-size: 21px;
        }
    }
}

