<div class="topbar">
    <div class="container">
        <div class="topbar__inner">
            <div class="topbar__logo">
                {{ render '@logo' }}
            </div>
            <div class="col-xs-6 col-sm-9 desktop-menu">
                {{ render '@nav-priority' }}
            </div>
        </div>
    </div>
</div>
