
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>New grid - see docs on <a target="_blank" href="http://flexboxgrid.com">flexboxgrid.com</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-3 center-xs middle-xs">
            Horizontal: center<br>
            Vertical: middle
        </div>
        <div class="col-xs-12 col-md-3">
            Compellingly visualize exceptional intellectual capital rather than best-of-breed e-services. Dynamically evisculate value-added human capital without customer directed internal or "organic" sources. 
        </div>
        <div class="col-xs-12 col-md-3 end-xs bottom-xs">
            Horizontal: end<br>
            Vertical: bottom
        </div>
        <div class="col-xs-12 col-md-3 start-xs top-xs">
            Horizontal: start<br>
            Vertical: top
        </div>
    </div>
</div>