.site-navigation {
    background-color: purple;
    color: white;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 30px 0;
    }

    &__logo {
        flex-grow: 0;

        & > img {
            height: 100px;
            width: auto;
        }
    }

    &__burger {
        width: 35px;
        height: 26px;
        margin-right: 15px;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 999;
        flex-grow: 0;

        & > span {
            display: block;
            position: absolute;
            height: 5px;
            width: 100%;
            background-color: white;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            
            &:nth-child(1) {
                top: 0px;
            }

            &:nth-child(2),
            &:nth-child(3) {
                top: 10px;
            }

            &:nth-child(4) {
                top: 20px;
            }
        }

        /* Active burger icon */
        &--active {
            & > span {
                &:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }

                &:nth-child(2) {
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }

                &:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
            }
        }

        @media (--viewport-md-min) {
            display: none;
        }
    }
}

.site-navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;

    &__item {
        margin-right: 20px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__link {
        text-decoration: none;
        color: white;
    }
}

/* Site navigation list on mobile */
@media (--viewport-sm-max) {
    .site-navigation-list {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.95);
        top: 0;
        left: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 40px;
        transition: transform .5s var(--easeInOutBack);
        z-index: 900;

        &--open {
            transform: translateX(-100%);
        }
    }
}