<nav class="site-navigation">
    <div class="container">
        <div class="site-navigation__inner">
            <a href="" class="site-navigation__logo">
                <img src="/dist/images/logo.png" alt="">
            </a>
            <ul class="site-navigation-list" id="js-site-navigation-list">
                <li class="site-navigation-list__item">
                    <a href="" class="site-navigation-list__link">Side 1</a>

                    <button class="js-sub-navigation-list-toggle site-navigation-list__sub-navigation-toggle"></button>
                    <ul class="sub-navigation-list js-sub-navigation-list">
                        <li class="sub-navigation-list__item">
                            <a href="" class="sub-navigation-list__link">Under 1</a>
                        </li>
                        <li class="sub-navigation-list__item">
                            <a href="" class="sub-navigation-list__link">Under 2</a>
                        </li>
                        <li class="sub-navigation-list__item sub-navigation-list__item--active">
                            <a href="" class="sub-navigation-list__link">Under 3</a>
                        </li>
                    </ul>
                </li>
                <li class="site-navigation-list__item">
                    <a href="" class="site-navigation-list__link">Side 2</a>
                </li>
                <li class="site-navigation-list__item site-navigation-list__item--active">
                    <a href="" class="site-navigation-list__link">Side 3</a>

                    <button class="js-sub-navigation-list-toggle site-navigation-list__sub-navigation-toggle"></button>
                    <ul class="sub-navigation-list js-sub-navigation-list">
                        <li class="sub-navigation-list__item">
                            <a href="" class="sub-navigation-list__link">Under 1</a>
                        </li>
                        <li class="sub-navigation-list__item sub-navigation-list__item--active">
                            <a href="" class="sub-navigation-list__link">Under 2</a>
                        </li>
                        <li class="sub-navigation-list__item">
                            <a href="" class="sub-navigation-list__link">Under 3</a>
                        </li>
                    </ul>

                </li>
                <li class="site-navigation-list__item">
                    <a href="" class="site-navigation-list__link">Side 4</a>
                </li>
            </ul>

            <div class="site-navigation__burger" id="js-site-navigation-toggle">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</nav>