<nav class="site-navigation">
    <div class="container">
        <div class="site-navigation__inner">
            <a href="" class="site-navigation__logo">
                <img src="/dist/images/logo.png" alt="">
            </a>
            <ul class="site-navigation-list" id="js-site-navigation-list">
                <li class="site-navigation-list__item">
                    <a href="" class="site-navigation-list__link">Side 1</a>
                </li>
                <li class="site-navigation-list__item">
                    <a href="" class="site-navigation-list__link">Side 2</a>
                </li>
                <li class="site-navigation-list__item">
                    <a href="" class="site-navigation-list__link">Side 3</a>
                </li>
            </ul>

            <div class="site-navigation__burger" id="js-site-navigation-toggle">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</nav>