/*
 * Helpers: Grid Row
 */

:root{
    --grid-row-site-padding: var(--site-padding);
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;

    & + .grid-row {
        margin-top: var(--grid-row-site-padding);
    }

    &--two-columns {
        > .grid-column {
            width: 100%;

            @media (--viewport-md-min) { width: calc(50% - 30px); }
        }
    }

    &--three-columns {
        > .grid-column {
            width: 100%;

            @media (--viewport-md-min) { width: calc(33.33% - 30px); }
        }
    }

    &--two-third {
        > .grid-column{
            width: 100%;

            @media (--viewport-md-min) { width: calc(66.66% - 30px); }

            &:last-child {
                width: 100%;

                @media (--viewport-md-min) { width: calc(33.33% - 30px); }
            }
        }
    }
}
