
<h2>Novicell brand colors</h2>
<p>Etiam habebis sem dicantur magna mollis euismod. Nihil hic munitissimus habendi senatus locus, nihil horum? Integer legentibus erat a ante historiarum dapibus. Quam temere in vitiis, legem sancimus haerentia. Donec sed odio operae, eu vulputate felis rhoncus.</p>

{{ render '@colors' }}
