<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            {{ render '@box-image' }}
        </div>
        <div class="col-xs-12 col-sm-4">
            {{ render '@box-image'  }}
        </div>
        <div class="col-xs-12 col-sm-4">
            {{ render '@box-image' }}
        </div>
    </div>
</div>  
