<div class="topbar">
    {{#embed "@grid-container--site-width"}}
        {{#content "grid-container-content"}}
            {{#embed "@grid-row"}}
                {{#content "grid-row-content"}}
                    {{#embed "@grid-column"}}
                        {{#content "grid-column-content"}}
                            <div class="topbar__inner">
                                <div class="topbar__logo">
                                    {{ render '@logo' }}
                                </div>
                                <div class="topbar__navigation">
                                <div class="topbar__navigation-secondary">
                                    More at {{ render '@link' githubLink }}
                                </div>
                                <div class="topbar__navigation-primary">
                                    {{ render '@nav-main-list' navMainList }}
                                    <div class="topbar__navigation-search">
                                    {{ render '@form-field--search' search }}
                                    </div>
                                </div>
                                </div>
                            </div>
                        {{/content}}
                    {{/embed}}
                {{/content}}
            {{/embed}}
        {{/content}}
    {{/embed}}
</div>
