<nav class="nav-main" role="navigation" vocab="http://schema.org/" typeof="SiteNavigationElement">
  <ul class="nav-main-list">
    {{#each link-list}}
        <li class="nav-main-list__item {{ active }}">
            {{> @link }}
        </li>
    {{/each}}
  </ul>
</nav>
