<button class="cookie-info-open" id="js-cookie-info-open">
    {{ cookieInfoOpenText }}
</button>
<section class="cookie-info" id="js-cookie-info">
    <div class="cookie-info__content">
        <p class="cookie-info__text">{{ cookieInfoText }}</p>
        {{!-- <a class="cookie-info__more button" href=""> {{ cookieInfoMore }} </a> --}}
        <button class="cookie-info__close button" id="js-cookie-info-close">{{ cookieInfoColseText }}</button>
    </div>
</section>