/* Inspired by from http://bits.24ways.org/assets/styles/theme.css */
.palette {
    margin: 0 -0.25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.color {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 4em;
    flex: 1 1 4em;
    margin: 0 0.25em 1.5em;
}

.color:before {
    content: '';
    display: block;
    width: 100%;
    height: 5em;
    border-radius: 0.25rem;
    background-color: currentColor;
}

.color code {
    display: inline-block;
    color: #3f3f46;
}

.color span {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: block;
    font: 0.75em/1em Hack, Consolas, Monaco, monospace;
    font-style: normal;
    text-shadow: 0 0 2px #3f3f46;
    color: #fff;
}

.color--base {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-right: 1em;
}

a {
    color: #269;
}

a:hover {
    color: #257;
}

a:active {
    color: #3be;
}

.Pen-previewLink svg {
    fill: currentColor;
}

.Header {
    background-color: #c80046;
    color: white;
}

.Prose tr td:first-child {
    min-width: 12em;
    padding-right: 1em;
    white-space: nowrap;
}

.Prose tr td:last-child {
    width: 100%;
}