/*
 * Module: Box Image
 */

:root{
    --box-background-color: var(--color-white);
    --box-border-style: 1px solid var(--color-gray-light);
    --box-border-radius: 4px;
    --box-content-opacity: 25%;
    --box-min-height: 300px;
    --box-padding: 20px;
    --box-paragraph-spacing-top: 15px;
}

.box-image {
    position: relative;

    &__inner {
        border: var(--box-border-style);
        border-radius: var(--box-border-radius);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: var(--box-min-height);
        position: relative;
    }

    &__content {
        background-color: color(var(--box-background-color) alpha(var(--box-content-opacity)));
        bottom: 0;
        left: 0;
        padding: var(--box-padding);
        position: absolute;
        right: 0;
    }

    p + p {
        margin-top: var(--box-paragraph-spacing-top);
    }
}
