<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            {{ render '@box-image-duotone' duotone1 }}
        </div>
        <div class="col-xs-12 col-sm-4">
            {{ render '@box-image-duotone' duotone2  }}
        </div>
        <div class="col-xs-12 col-sm-4">
            {{ render '@box-image-duotone' duotone3 }}
        </div>
    </div>
</div>  
