<form role="contentinfo" class="form" novalidate data-validate>
{{#embed "@grid-row"}}
  {{#content "content"}}
    {{#embed "@grid-column"}}
      {{#content "grid-column-content"}}
        {{> @heading title }}
      {{/content}}
    {{/embed}}
  {{/content}}
{{/embed}}
{{#embed "@grid-row--two-columns"}}
  {{#content "content"}}
    {{#embed "@grid-column"}}
      {{#content "grid-column-content"}}
        {{> @form-field fieldFirstName}}
      {{/content}}
    {{/embed}}
    {{#embed "@grid-column"}}
      {{#content "grid-column-content"}}
        {{> @form-field fieldLastName}}
      {{/content}}
    {{/embed}}
  {{/content}}
{{/embed}}
{{#embed "@grid-row"}}
  {{#content "content"}}
    {{#embed "@grid-column"}}
      {{#content "grid-column-content"}}
        {{> @form-field fieldEmail }}
        {{> @form-field-checkbox fieldNewsletter }}
        {{> @button--submit submit }}
      {{/content}}
    {{/embed}}
  {{/content}}
{{/embed}}

</form>
