{{ render '@header' }}
<div class="overlapping-section-wrapper">
    <div class="container-fluid">
        <section class="overlap-section overlap-section--first">
            <div class="row">
                <div class="carousel col-xs-12 col-md-5" >
                    <h2 class="carousel__header overlap-item overlap-item--above overlap-item-md--bottom overlap-item-lg--bottom overlap-item-xl--bottom">Explore our large catalogue</h2>
                    <div class="carousel__image--wrapper">
                        <div class="carousel__image">
                            {{> @image image1 }}
                        </div>
                    </div>
                </div>
                <div class="carousel__image--wide carousel col-xs-12 col-md-7">
                    <div class="carousel--wide overlap-item overlap-item--above overlap-item-md--bottom">
                        {{> @image image2 modifier="carousel--wide__image"}}
                    </div>
                </div>
            </div>
        </section>
        <section class="overlap-section overlap-section--second">
            <div class="row overlap-section--second__row">
                <div class="collection-list col-xs-12" >
                    <div class="collection-list__item col-xs-6 col-sm-4">
                        {{> @image image3 modifier="collection-list__image"}}
                        <h3 class="collection-list__item--header">Handbag</h3>
                    </div>
                    <div class="collection-list__item overlap-item overlap-item--above overlap-item-sm--bottom overlap-item-md--bottom overlap-item-lg--bottom col-xs-6 col-sm-4">
                        {{> @image image4 modifier="collection-list__image"}}
                        <h3 class="collection-list__item--header">Hat</h3>                        
                    </div>
                    <div class="collection-list__item col-xs-6 col-sm-4">
                        {{> @image image5 modifier="collection-list__image"}}
                        <h3 class="collection-list__item--header">Bag</h3>                        
                    </div>
                    <div class="collection-list__item col-xs-6 col-sm-4">
                        {{> @image image6 modifier="collection-list__image"}}
                        <h3 class="collection-list__item--header">Handbag</h3>
                    </div>
                    <div class="collection-list__item overlap-item overlap-item--above overlap-item-sm--bottom overlap-item-md--bottom overlap-item-lg--bottom col-xs-6 col-sm-4">
                        {{> @image image7 modifier="collection-list__image"}}
                        <h3 class="collection-list__item--header">Hat</h3>                        
                    </div>
                    <div class="collection-list__item col-xs-6 col-sm-4">
                        {{> @image image3 modifier="collection-list__image"}}
                        <h3 class="collection-list__item--header">Bag</h3>                        
                    </div>                                        
                </div>          
            </div>
        </section>
        <section class="overlap-section overlap-section--third">
            <div class="row overlap-section--third__row">
                <div class="overlap-section--third__image-wrapper overlap-item overlap-item--above overlap-item-sm--right overlap-item-md--right overlap-item-lg--right col-xs-12 col-sm-6 ">
                    <img src="https://maradji.com/wp-content/uploads/2019/01/low-l2a2710-copie-1280x853.jpg" class="section-third__left-image" alt="">
                </div>
                <div class="overlap-section--third__right-section overlap-item overlap-item--below overlap-item-sm--bottom overlap-item-md--bottom overlap-item-lg--bottom col-xs-12 col-sm-6">
                    <h1 class="carousel__header">Sous le soleil exactement</h1>
                    <img src="http://tinyurl.com/yydhtttr" alt="" class="section-third__right-image">
                </div>                
            </div>
        </section>
    </div>
</div>
{{ render '@footer' }}

