{{ render '@header' }}

<section class="text-image-section" style="margin:0; background-color:white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {{> @text-box textbox1 modifier="overlap-item--above overlap-item--right" }}

                {{> @text-box textbox2 modifier="overlap-item overlap-item--right" }}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{> @image image1 modifier="overlap-item--below overlap-item--bottom" }}
            </div>
        </div>
    </div>
</section>

<section class="image-text-section" style="margin-bottom:0; padding:0;">
    <div style="width:96vw; background-color:ghostwhite; top:-6vw; position:relative;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    {{> @image image2 modifier="overlap-item overlap-item--top" }}
                </div>
                <div class="col-xs-12 col-sm-6">
                    {{> @text-box textbox3 modifier="overlap-item--above"}} 
                    {{> @text-box textbox4 modifier="overlap-item--left" }}    
                </div>
            </div>
        </div>
    </div>
</section>


{{ render '@footer' }}