{{ render '@header' }}

<section class="text-image-section" style="background-color:whitesmoke">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {{> @text-box textbox1 modifier="overlap-item overlap-item--above overlap-item-md--right overlap-item-lg--right" }}

                {{> @text-box textbox2 modifier="overlap-item overlap-item-xs--bottom overlap-item-md--right overlap-item-lg--right" }}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{> @image image1 modifier="overlap-item overlap-item--below" }}
            </div>
        </div>
    </div>
</section>

<div style="width:96vw; background-color:ghostwhite; top:-6vw; position:relative;">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    {{> @image image2 modifier="overlap-item overlap-item-md--top overlap-item-lg--top" }}
                </div>
                <div class="col-xs-12 col-sm-6">
                    {{> @text-box textbox3 modifier="overlap-item"}} 
                    {{> @text-box textbox4 modifier="overlap-item overlap-item--above overlap-item-sm--left overlap-item-md--left overlap-item-lg--left"}}    
                </div>
            </div>
        </div>
    </section>
</div>


{{ render '@footer' }}