<section class="image-text-section">
    {{#extend "@grid-row--two-columns"}}
    {{#content "content"}}
        {{#extend "@grid-column"}}
        {{#content "grid-column-content"}}
            {{> @image image}}
        {{/content}}
        {{/extend}}
        {{#extend "@grid-column"}}
        {{#content "grid-column-content"}}
            {{> @text-box text-box2 }}
            {{> @link-button button}}
        {{/content}}
        {{/extend}}
    {{/content}}
    {{/extend}}
</section>
