<section class="image-text-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {{ render '@image' image}}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ render '@text-box' textbox }}
                {{ render '@link-button' button}}
            </div>
        </div>
    </div>
</section>
