<h1>
    {{ text }}
    <div class="svg-text">
        <svg class="svg-text__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/icons/icons.svg#{{ icon }}"></use></svg>
    </div>
    {{ text }}
</h1>
