<div class="pageheader-color-box">
    <div class="pageheader-dot-box">
        <div class="pageheader-main-wrapper">
            <div class="pageheader-text-container" >
                <h4>Welcome to</h4> 
                <h1>Novicell</h1>
                <h1>Design</h1> 
                <h1>System</h1>
                <p>Explore our component libary in the lefthand menu</p>
            </div>
        </div>
    </div>
</div>

