<div class="pageheader-color-box">
    <div class="pageheader-dot-box">
        <div class="pageheader-main-wrapper">
            <div class="pageheader-text-container" >
                <p class="pageheader-text-container__top-heading">{{header.top}}</p>
                <div id="pageheader-scene" > 
                    <p data-depth="0.2" class="pageheader-text-container__main-heading">
                        {{{header.main}}}
                    </p>
                    <p data-depth="0.6" class="pageheader-text-container__main-heading_shadow">
                        {{{header.main}}}
                    </p>
                </div>
                <p class="pageheader-text-container__sub-heading">{{header.sub}}</p>
            </div>
        </div>
    </div>
</div>

