.pageheader-dot-box {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 200px;
    background: radial-gradient(rgba(255, 255, 255, 0.15) 1px, transparent 1px), transparent;
    background-size: 40px 40px;

    @media (--viewport-md-min) {
        height: 300px;
    }

    @media (--viewport-lg-min) {
        height: 500px
    }
}

.pageheader-color-box {
    background-color: color(var(--color-blackberry: ) alpha(var(--hero-content-opacity)));
    width: 100%;
    height: 200px;

    @media (--viewport-md-min) {
        height: 300px;
    }

    @media (--viewport-lg-min) {
        height: 500px
    }
}

.pageheader-text-container {
    /* background-color: orange; */
    color: color(var(--color-white: ));
}

.pageheader-text-container h1 {
    margin: 0px;
    color: color(var(--color-white: ));
    text-shadow: 35px -8px rgba(000, 000, 000, 0.2);
}

.pageheader-text-container h4 {
    color: color(var(--color-white: ));
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.pageheader-text-container p {
    font-size: 0.8rem;
    max-width: 170px;
    margin-left: 5rem;
    margin-top: 10px;
}

.pageheader-main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

