<article class="icon-box {{ class }}">
	<div class="icon-box__inner">
		<div class="icon-box__content">
            <div class="icon-box__icon">
                {{#block "icon-box-icon"}}
                    {{> '@svg-icon' }}
                {{/block}}
            </div>
			{{> '@heading--column' heading }}
			{{#block "iconBoxContent"}}
				<p>{{ iconBoxContent }}</p>
			{{/block}}
		</div>
        {{#if link }}
            {{> '@link' link }}
        {{/if}}
	</div>
</article>
