/*
* Element: paragraphs
*/

/*Setting document variables*/
:root{
	--hero-text-color: var(--color-white);
}

.paragraph {

    &--hero {
        color: var(--hero-text-color);
        margin-bottom: 30px;

        @media (--viewport-sm-min) {
            font-size: 21px;
        }
    }
}

