<div class="background-fullscreen--idle background-fullscreen" data-background-image="{{ path '{{backgroundImagePath}}' }}">
  {{#if youtubeid}}
    <div class="youtube__iframe-wrapper" data-youtubeid="{{youtubeid}}">
    </div>
  {{/if}}    
  {{#if vimeoid}}
    <iframe class="iframe vimeo__iframe" data-vimeoid="{{vimeoid}}"
    frameborder="0" 
    webkitallowfullscreen 
    mozallowfullscreen 
    allowfullscreen
    >
    </iframe>
  {{/if}}
</div>





