<div id="frame">

    <div class="pageheader-dots">
        <div class="pageheader-dots__dots">
            <div class="pageheader-dots__wrapper">
                <div class="pageheader-dots__container" >
                    <p class="pageheader-dots__top-heading">Welcome to</p>
                    <div id="js-pageheader-scene" >
                        <p data-depth="0.2" class="pageheader-dots__main-heading">
                            Novicell Frontend &<br>
                            Design System
                        </p>
                        <p data-depth="0.6" class="pageheader-dots__main-heading-shadow">
                            Novicell Frontend &<br>
                            Design System
                        </p>
                    </div>
                    <p class="pageheader-dots__sub-heading">Latest release: Spring 2019</p>
                    <div class="pageheader-dots__button">
                        <a href="/docs/get-started">Get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
