.Document {
    padding: 0;
}
.Document-header {
    display: none;
}
.Prose {
    max-width: 100%;

    h1 {
        font-size: 3vw;
    }

    .search-filter {
        ul,
        ol {
            padding-left: 0;
        }

        li {
            list-style: none;
            list-style-type: none;
            margin-bottom: 0;
        }
    }
}

.Header {
    position: fixed;
    width: 100%;
}

.Prose > *:not(:last-child) {
    margin-bottom: 0;
}
