:root {
    --nav-trigger-burger-width: 30px;
    --nav-trigger-burger-height: 20px;
    --nav-trigger-burger-stroke-width: 3px;
    --nav-trigger-color: var(--color-black, #fff);
    --nav-trigger-border-color: var(--color-secondary);
    --nav-trigger-border-opacity: 25%;
}

.nav-main-mobile{
    display: flex;
    margin-right: -15px;
    @media (--viewport-sm-min) {
        display: none;
    }
}

.mobile-navigation-open {
    .mobile-close-button {
        transform: translateX(0);
        opacity: 1;
    }
    .mobile-navigation-button {
        transform: translateX(100%);
        opacity: 0;
    }
}

.mobile-navigation-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    .topbar__navigation {
        transform: translateX(0);
        opacity: 1;

        &__item {
            display: block;
        }
    }
}

.mobile-navigation-button {
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid color(var(--nav-trigger-border-color, white) alpha(var(--nav-trigger-border-opacity, 25%)));
    width: 80px;
    height: 100%;
    transform: translateX(0);
    opacity: 1;
    transition: all .3s var(--easeInOutQuart);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &__icon {
        fill: var(--color-primary);
        height: 25px;
        width: 25px;
    }
    &__text {
        color: var(--color-primary);
        text-align: center;
        font-size: 10px;
    }
}


.mobile-close-button {
    border: none;
    outline: none;
    background-color: transparent;
    transform: translateX(100%);
    opacity: 0;
    transition: all .3s var(--easeInOutQuart);
    flex-direction: column;
    align-items: center;
    width: 80px;
    position: fixed;
    top: 24px;
    right: 0;
    z-index: 81;
    display: flex;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    

    &__icon {
        fill: var(--color-primary);
        height: 15px;
        width: 15px;
    }
    &__text {
        color: var(--color-primary);
        text-align: center;
        font-size: 10px;
        margin-top: 5px;
    }
}