 <div class="nav-main-mobile">
	<button class="mobile-navigation-button hamburger hamburger--squeeze" id="js-mobile-navigation-button" type="button">
		<div class="hamburger-box">
			<div class="hamburger-inner"></div>
		</div>
		<span class="hamburger-label js-hamburger-label" data-menu-text="Menu" data-close-text="Close">Menu</span>
	</button>
</div>