	<label class="nav-trigger" for="{{trigger-for}}">
		<span class="nav-trigger__burger"><span class="nav-trigger__burger-inner"></span></span>
		<span class="nav-trigger__text">{{nav-trigger-text}}</span>
	</label>
