 <div class="mobile-menu">
	<button class="mobile-contact-popup-button" id="js-mobile-contact-popup-button" type="button">
		<svg class="mobile-contact-popup-button__icon">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/icons/icons.svg#icon-phone"></use>
		</svg>
		<span class="mobile-contact-popup-button__text">
			Ring
		</span>
	</button>
	<button class="mobile-navigation-button" id="js-mobile-navigation-button" type="button">
		<svg class="mobile-navigation-button__icon">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/icons/icons.svg#icon-menu"></use>
		</svg>
		<span class="mobile-navigation-button__text">
			Menu og sog
		</span>
	</button>
	<button class="mobile-close-button" id="js-mobile-close-button" type="button">
		<svg class="mobile-close-button__icon">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/icons/icons.svg#icon-close"></use>
		</svg>
		<span class="mobile-close-button__text">
			Luk Menu
		</span>
	</button>
</div>