 <div class="nav-main-mobile">
	<button class="mobile-navigation-button hamburger hamburger--slider-r" id="js-mobile-navigation-button" type="button">
		<div class="hamburger-box">
				<div class="hamburger-inner"></div>
		</div>
	</button>
</div>