<div class="pageheader-video">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="pageheader-video__content">
                    {{ render '@heading--hero' }}
                    {{ render '@paragraph--hero'}}
                    {{ render '@button--large' }}
                </div>
            </div>
        </div>
    </div>
    <video class="pageheader-video__video" src="https://staging.coverr.co/s3/mp4/Coverr-lamp.mp4" type="video/mp4" autoplay muted loop playsinline>
    <video class="pageheader-video__video" src="https://staging.coverr.co/s3/webm/Coverr-lamp.webm" type="video/webm" autoplay muted loop playsinline>
</div>  
