<ul class="social-media__list">
    <li class="social-media__item">{{ render '@link-social--twitter' }}</li>
    <li class="social-media__item">{{ render '@link-social--google-plus' }}</li>
    <li class="social-media__item">{{ render '@link-social--facebook' }}</li>
</ul>